header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0rem;
    background: #6e6452;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    gap: 1rem;
    overflow: hidden;
  }
  
  header h1 {
    margin: 0;
    z-index: 500;
    font-size: 1.5rem;
    order: 2;
  }
  
  #imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.8;
  }
  
  .floating-image {
    position: absolute;
    width: 48px;
    height: 48px;
    z-index: 1;
  }